NODE_ENV        =   development
PORT            =   8081
DATABASE        =   mongodb+srv://uiassignment:<pwd>@cluster0-gtkeg.mongodb.net/test?retryWrites=true
SECRET          =   yoursecrectpleaseenterhere
KEY             =   yourkeypleaseenterhere